<section class="panel" id="account">
<link rel='stylesheet' href='src/css/account.css'>
<div class="account-backdrop backdrop" ng-controller="AccountController as accountCtrl">
    <div class="container layer2 ui segment">
<!--         <div class="ui right rail">
            <div class="ui raised very padded text segment">
                Right Rail Content
            </div>
        </div> -->
    <account-panels></account-panels>
    </div>
</div>
</section>