        <div class="ui account-main">
            <h2 class="ui header">Account Page</h2>
            <div class="ui">
                <div class="ui two item menu">
                    <a class="item" ng-click="selectedPanel = 0">Profile</a>
                    <a class="item" ng-click="selectedPanel = 1">Recent Posts</a>
                </div>
            </div>
            <div class="ui segment settings-body" style="overflow-y:auto">
                <!-- content-->
                <section>
                    <div ng-show="selectedPanel === 0">
                        <form name="reviewForm" class="ui form" ng-submit="account.updateUser(product)" novalidate>
<!--                             <fieldset class="form-group">
                                <select class="form-control" ng-model="account.type" required disabled>
                                    <option value="">User</option>
                                </select>
                            </fieldset> -->
                            <!-- <fieldset> -->
                            <div class="ui field">
                                <label>Display Name</label>
                                <div class="ui fluid input">
                                <input name="author" title="Name" class="form-control" ng-model="user.accout_details.displayName" required>
                                </div>
                                </div>
                                <div class="ui field">
                                <label>Email</label>
                                <div class="ui fluid input">
                                <input name="author" title="Email" class="form-control" type="email" placeholder="you@email.com" ng-model="user.accout_details.email" required>
                                </div>
                                </div>
                            <!-- </fieldset> -->
                            <!-- <fieldset> -->
                            <div class="three fields">
                                 <div class="ui field">
                                <label>First Name</label>
                                <!-- <div class="ui  input"> -->
                                <input name="author" title="Name" class="form-control" ng-model="user.name.firstName" required>
                                </div>
                                <div class="field">
                                <label>Middle Name</label>
                                <!-- <div class="ui  input"> -->
                                <input name="author" title="Name" class="form-control" ng-model="user.name.middleName" required>
                                </div>
                                <div class="field">
                                <label>Last Name</label>
                                <!-- <div class="ui  input"> -->
                                <input name="author" title="Name" class="form-control" ng-model="user.name.lastName" required>
                                </div>
                                </div>
                                <!-- </div> -->
                            <!-- </fieldset> -->
                            <!-- <fieldset> -->
                            <div class="ui field">
                                <label>Password</label>
                                
                                <input name="author" title="Password" class="form-control" type="password" placeholder="password" ng-model="user.local.password" required>
                                </div>
                                <div class="ui field">
                                <input name="author" title="Password" class="form-control" type="password" placeholder="confirm password" ng-model="user.local.password" required>
                                </div>
                            <!-- </fieldset> -->
                            <!-- <fieldset> -->
                            <div class="ui field">
                                <input type="submit" value= "Update" class="btn btn-primary pull-right">
                                </div>
                            <!-- </fieldset> -->
                        </form>
                    </div>
                    <div ng-show="selectedPanel === 1">
                        <blockquote ng-repeat='post in posts.Movies | filter:{userName:"POTUS"}'>{{post.body}}</blockquote>
                        <div ng-repeat='post in posts.Movies'>
                            <blockquote ng-repeat='reply in post.replies | filter:{userName:"POTUS"}'>{{reply.body}}</blockquote>
                        </div>
                    </div>
                </section>
            </div>
        </div>