<section class="panel" id="voting">
    <voting></voting>
    <div class="line-chart-background-container">
        <voting-line-chart id="back-voting-graphs"></voting-line-chart>
    </div>
</section>
<!---->
    <!--<account></account>-->
<!--</section>-->
<section class="panel" id="forum">
    <forum></forum>
</section>
<!-- <div class="layer1 screen"></div> -->