<div class="ui basic modal" id="loginModal">
    <i class="remove icon pull-right ui cancel" title="Cancel"></i>
    <div class="header">
        Log In
    </div>
    <div class="ui container">
        <div class="ui inverted form">
            <div class="log-in-fields" ng-if="currentModal.signup">
                <div class="three fields">
                    <div class=" ui field">
                        <div class="ui sub header">First name</div>
                        <input type="text" placeholder="First Name">
                    </div>
                    <div class="ui field">
                        <div class="ui sub header">Middle name</div>
                        <input type="text" placeholder="Middle Name">
                    </div>
                    <div class="ui field">
                        <div class="ui sub header">Last name</div>
                        <input type="text" placeholder="Last Name">
                    </div>
                </div>
                <!--&nbsp;-->
            </div>
            <div class="ui field">
                <div class="ui sub header">E-mail address</div>
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input name="email" ng-model="userAccount.email" type="text" placeholder="E-mail address">
                </div>
            </div>
            <div class="ui field">
                <div class="ui sub header">Password</div>
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" ng-model="userAccount.password" type="text"
                           placeholder="Password">
                </div>
            </div>
            <div class="log-in-fields" ng-if="currentModal.signup">
                <div class="ui field">
                    <div class="ui sub header">Confirm Password</div>
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" type="text" placeholder="Confirm Password">
                    </div>
                </div>
            </div>
            <div class="ui error message"></div>
            <div class="actions">
                <div class="login-buttons" ng-if="!currentModal.signup">
                    <div class="ui buttons pull-right" >
                        <button class="ui button" ng-click="currentModal.signup = true">Sign Up</button>
                        <div class="or"></div>
                        <button class="ui positive button">Login In</button>
                    </div>
                </div>
                <div class="signup-buttons" ng-if="currentModal.signup">
                    <div class="ui buttons pull-right" >
                        <button class="ui button" ng-click="currentModal.signup = false">Login In</button>
                        <div class="or"></div>
                        <button class="ui positive button" >Sign Up</button>
                    </div>
                </div>
            </div>
            <div class="ui buttons pull-left">
                <button class="ui facebook button">
                    <i class="facebook icon"></i>
                    Facebook
                </button>
                <button class="ui twitter button">
                    <i class="twitter icon"></i>
                    Twitter
                </button>
                <button class="ui google plus button">
                    <i class="google icon"></i>
                    Google
                </button>
            </div>
        </div>
    </div>
</div>