<div class="nav stuff" ng-controller="NavBarCtrl as navCtrl">
    <a id="main-nav-menu" class="btn btn-default" style="position: fixed; top: 5px; left:5px; opacity: 0.4; z-index:999">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> </a>
    <div id="nav" style="z-index:11999" >
        <ul>
            <li><a ng-click="navigateToHomeElement('#voting')">Voting</a></li>
            <!--<li><a href="/#about">About</a></li>-->
            <li><a ng-click="navigateToHomeElement('#forum')">Forum</a></li>
            <li ng-if="hasUserAccess()"><a ng-click="navigateToNonHomePage('/account')">Account Settings</a></li>
            <li ng-if="hasAdminAccess()"><a ng-click="navigateToNonHomePage('/admin')">Admin Setting</a></li>
            <li><a ng-if="!hasUserAccess()" ng-click="launchLogin()">Log In / Sign Up</a></li>
            <li><a ng-click="closeSlider()">Close</a></li>
        </ul>
    </div>
    <login-modal></login-modal>
</div>