<link rel="stylesheet" type="text/css" href="src/css/voting.css">
<div class="layer2" id="section0">
    <div class="ui to column centered grid" id="voting-cards">
        <div class="five wide centered column">
            <div class="ui special cards">
                <div class="card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <p>{{leftCard.description}}</p>
                                    <a ng-href="{{leftCard.link}}">learn more</a>
                                </div>
                            </div>
                        </div>
                        <img ng-src="{{leftCard.imagePath}}">
                    </div>
                    <div class="content">
                        <a class="header">{{leftCard.name}}</a>
                        <div class="meta">
                            <span class="vote-count">{{leftCard.warScores | arrayCount}} votes</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <button class="ui inverted red button form-control" ng-disabled="alreadyVoted" ng-click="voteLeft()">Vote!</button>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="computer only one wide column">-->
            <!--&lt;!&ndash;spacer&ndash;&gt;-->
        <!--</div>-->
        <div class="five wide centered column">
            <div class="ui special cards">
                <div class="card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <p>{{rightCard.description}}</p>
                                    <a ng-href="{{rightCard.link}}">learn more</a>
                                </div>
                            </div>
                        </div>
                        <img ng-src="{{rightCard.imagePath}}">
                    </div>
                    <div class="content">
                        <a class="header">{{rightCard.name}}</a>
                        <div class="meta">
                            <span class="vote-count">{{rightCard.warScores | arrayCount}} votes</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <button class="ui inverted blue button form-control" ng-disabled="alreadyVoted" ng-click="voteRight()">Vote!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<share-modal></share-modal>