<!--JQuery UI stuff-->
<script src='../../src/js/jquery-ui.min.js'></script>
<link rel="stylesheet" href="../../src/css/jquery-ui.min.css">

<section class="panel" id="admin" ng-controller="AdminCtrl as admin">
    <div class="admin-backdrop backdrop">
        <div class="layer2 ui segment  admin-container">
            <h2 class="ui header">Admin Setting </h2>
            <div class="analytics-container">
                <!--<h3 class="ui header">Current Campaign:</h3>-->
                <!-- opening two voting line charts seems to do strange things -->
                <div class="ui centered grid">
                    <div class="centered six wide computer column middle aligned bar-chart-holder">
                        <voting-bar-chart></voting-bar-chart>
                    </div>
                    <div class="centered four wide computer column middle aligned"><!-- make first when shrunk-->
                        <div class="ui center aligned basic segment">
                            <!--<h2>The National Rifle Association</h2>-->
                            <h2>{{currentCampaign? currentCampaign.leftFaction.name : "No Active Campaign"}}</h2>

                            <div class="ui horizontal divider">
                                versus
                            </div>
                            <!--<h2>Coalition to End Gun Violence</h2>-->
                            <h2>{{currentCampaign ? currentCampaign.rightFaction.name :"No Active Campaign"}}</h2>
                        </div>
                    </div>
                    <div class="centered six wide computer column middle aligned line-chart-holder">
                        <voting-line-chart></voting-line-chart>
                    </div>
                </div>
            </div>
            <div class="current matchup settings">
                <div class="ui three column grid padded">
                    <div class="column campaign dates" style="margin-top: .5em">
                        <form class="ui form">
                            <!--<h4 class="ui header">Started On:</h4>-->
                            <div class="ui field">
                                <div class="ui labeled disabled right icon input">
                                    <div class="ui label">Started On:</div>
                                    <input type="text" placeholder="07/26/1995">
                                    <i class="lock icon"></i>
                                </div>
                            </div>
                            <!--<h4 class="ui header">Scheduled End Date</h4>-->
                            <div class="ui field">
                                <div class="ui labeled right icon input">
                                    <div class="ui label">End Date:</div>
                                    <input id="scheduledEndDate" type="text">
                                    <i class="write icon"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="column match-names" style="padding-top: 0">
                        <div class="ui centered" style="text-align: center;">
                            <div class="ui statistic">
                                <div class="value">
                                    {{currentCampaign.rightFaction.votes | doubleArrayCount :currentCampaign.leftFaction.votes}}
                                </div>
                                <div class="label">
                                    Total Votes
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column end-buttons" style="margin-top: .5em">
                        <div class="ui center align basic segment">
                            <button class="ui fluid inverted orange button" ng-click="launchEditCampaignModal(currentCampaign)">Edit Current
                                Campaign
                            </button>
                            <button class="ui fluid inverted red button" ng-click="endCampaign()">
                                <i class="warning sign icon"></i>
                                End Now
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="ui horizontal divider left header">
                <i class="configure icon"></i>
                <!--On Deck-->
                Additional Campaigns
            </h3>
            <div class="ui centered grid">
                <div class="six wide column">
                    <div class="ui  shape">
                        <div class="sides">
                            <div class="active side">
                                <div class="content" ng-if="previewCampaign">
                                    <div class="ui voting-card">
                                        <div class="ui grid">
                                            <div class="eight wide column">
                                                <voting-card
                                                        name="{{previewCampaign.leftFaction.name}}"
                                                        image-path="{{previewCampaign.leftFaction.imagePath}}"
                                                        description="{{previewCampaign.leftFaction.description}}"
                                                        link="{{previewCampaign.leftFaction.link}}"
                                                        scores-array="previewCampaign.leftFaction.warScores"
                                                        button-color="{{previewCampaign.leftFaction.color}}"
                                                        disabled-flag="alreadyVoted"
                                                        vote-function="emptyFunc()">
                                                </voting-card>
                                            </div>
                                            <div class="eight wide column">
                                                <voting-card
                                                        name="{{previewCampaign.rightFaction.name}}"
                                                        image-path="{{previewCampaign.rightFaction.imagePath}}"
                                                        description="{{previewCampaign.rightFaction.description}}"
                                                        link="{{previewCampaign.rightFaction.link}}"
                                                        scores-array="previewCampaign.rightFaction.warScores"
                                                        button-color="{{previewCampaign.rightFaction.color}}"
                                                        disabled-flag="alreadyVoted"
                                                        vote-function="emptyFunc()">
                                                </voting-card>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="side">
                                <!--<div class="content content-temp">-->
                                    <!--<div class="ui voting-card">-->
                                        <!--<div class="ui grid">-->
                                            <!--<div class="eight wide column">-->
                                                <!--<voting-card-->
                                                        <!--name="{{leftCard.name}}"-->
                                                        <!--image-path="{{leftCard.imagePath}}"-->
                                                        <!--description="{{leftCard.description}}"-->
                                                        <!--link="{{leftCard.link}}"-->
                                                        <!--scores-array="leftCard.warScores"-->
                                                        <!--button-color="blue"-->
                                                        <!--disabled-flag="alreadyVoted"-->
                                                        <!--vote-function="voteLeft()">-->
                                                <!--</voting-card>-->
                                            <!--</div>-->
                                            <!--<div class="eight wide column">-->
                                                <!--<voting-card-->
                                                        <!--name="{{rightCard.name}}"-->
                                                        <!--image-path="{{rightCard.imagePath}}"-->
                                                        <!--description="{{rightCard.description}}"-->
                                                        <!--link="{{rightCard.link}}"-->
                                                        <!--scores-array="rightCard.warScores"-->
                                                        <!--button-color="blue"-->
                                                        <!--disabled-flag="alreadyVoted"-->
                                                        <!--vote-function="voteRight()">-->
                                                <!--</voting-card>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="computer only two wide column">
                    <!--Buffer-->
                </div>
                <div class="six wide column">
                    <div class="ui center align basic segment">
                        <button class="ui fluid basic button" ng-click="launchEditCampaignModal(null)">
                            Add New Campaign
                        </button>
                        <button class="ui fluid basic button" ng-click="launchEditCampaignModal(previewCampaign)">
                            Edit Campaign
                        </button>
                        <button class="ui fluid basic button" ng-click="swapLeftRight(previewCampaign)">
                            Swap Left/Right
                        </button>
                        <button class="ui fluid basic button disabled">
                            Re-Order Campaigns
                        </button>
                        <div class="ui fluid buttons">
                            <button class="ui button">
                                <i class="left chevron icon"></i>
                                Previous
                            </button>
                            <button class="ui button">
                                <i class="right chevron icon"></i>
                                Next
                            </button>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
    <admin-modal></admin-modal>
</section>