<div class="ui large modal" id="adminModal">
    <i class="remove icon pull-right ui cancel" title="Cancel"></i>
    <div class="header" ng-if="true">
        Edit Campaign
    </div>
    <div class="header" ng-if="false">
        Create a new Campaign
    </div>
    <div class="ui container divided-container">

        <div id="left-admin-part" ng-style="{width:modalSettings.leftCard.width}">
            <admin-modal-forum ng-if="modalSettings.leftCard.form"
                               name="leftCard.name"
                               image-path="leftCard.imagePath"
                               description="leftCard.description"
                               link="leftCard.link"
                               button-color="blue">
            </admin-modal-forum>
            <voting-card ng-if="modalSettings.leftCard.card"
                         name="{{leftCard.name}}"
                         image-path="{{leftCard.imagePath}}"
                         description="{{leftCard.description}}"
                         link="{{leftCard.link}}"
                         scores-array="leftCard.warScores"
                         button-color="{{leftCard.color}}"
                         disabled-flag="alreadyVoted"
                         vote-function="voteLeft()">
            </voting-card>
        </div>
        <!--<div id="dividerParent" style="height:auto">-->
        <div class="divider" style=" background-color: #747474">
            <div class="resize-icon-divider">
            <h1 class="ui center aligned header">
                <i class=" resize horizontal icon" style="margin: 0"></i>
            </h1>
            </div>
        </div>
        <!--</div>-->
        <div id="right-admin-part" ng-style="{width:modalSettings.rightCard.width}">
            <admin-modal-forum ng-if="modalSettings.rightCard.form"
                               name="rightCard.name"
                               image-path="rightCard.imagePath"
                               description="rightCard.description"
                               link="rightCard.link"
                               button-color="blue">
            </admin-modal-forum>
            <voting-card class="centered" ng-if="modalSettings.rightCard.card"
                         name="{{rightCard.name}}"
                         image-path="{{rightCard.imagePath}}"
                         description="{{rightCard.description}}"
                         link="{{rightCard.link}}"
                         scores-array="rightCard.warScores"
                         button-color="{{rightCard.color}}"
                         disabled-flag="alreadyVoted"
                         vote-function="voteRight()">
            </voting-card>
        </div>
    </div>
    <div class="actions">
        <div class="ui  inverted cancel red button">Cancel</div>
        <div class="ui inverted approve green button">Post</div>
    </div>
</div>
