<div class="ui form">
    <div class="ui container">
    <div class="ui two column grid">
        <div class="eight wide column">
            <div class="ui admin-set-image segment">
                <img width="250 campaign-image" height="250"
                     ng-src="{{imagePath}}">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <h3 class="ui inverted center aligned header">
                                <i class="circular cloud upload icon"></i>
                                Click to upload a new image
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="eight wide column">

            <div class="ui field">
                <div class="ui sub header">Side Name</div>
                <div class="ui fluid input">
                    <input name="title" ng-model="name" type="text"
                           placeholder="Side Name" autofocus>
                </div>
            </div>
            <div class="ui field">
                <div class="ui sub header">Link</div>
                <div class="ui left icon input">
                    <i class="linkify icon"></i>
                    <input name="link" ng-model="link" type="text" placeholder="Link to company home page">
                </div>
            </div>
        </div>
    </div>
        <div class="ui field">
            <div class="ui sub header">Description</div>
            <textarea name="description" ng-model="description"></textarea>
        </div>
    </div>
</div>
<script>
    $(".admin-set-image.segment").dimmer("show");
</script>