<div class="ui small modal" id="shareModal">
  <i class="close icon"></i>
  <div class="header ui centered align grid">
    Thanks for voting! Now share this and get support from your followers!
  </div>
<div class="ui centered align grid">
    <div class="image">
    <img src ="img/logo.png" alt="Chop-Chop Logo" />
    </div>
  </div>

  <div class="actions ui centered align grid">
    <div class="ui button" ng-click="closeModal()">Cancel</div>
  	<div class="ui button blue" ng-click="sharePopupFacebook()">Share on Facebook</div>
  	<div class="ui button blue" ng-click="sharePopupTwitter()">Share on Twitter</div>
  </div>
</div>