<link rel="stylesheet" type="text/css" href="src/css/voting.css">
<div class="layer2" id="section0">
    <div class="ui two column centered grid" id="voting-cards">
        <div class="five wide centered column">
            <voting-card
                    name="{{leftCard.name}}"
                    image-path="{{leftCard.imagePath}}"
                    description="{{leftCard.description}}"
                    link="{{leftCard.link}}"
                    scores-array="leftCard.votes"
                    button-color="{{leftCard.color}}"
                    disabled-flag="alreadyVoted"
                    vote-function="vote(leftCard.votes)">
            </voting-card>

        </div>
        <div class="five wide centered column">
            <voting-card
                    name="{{rightCard.name}}"
                    image-path="{{rightCard.imagePath}}"
                    description="{{rightCard.description}}"
                    link="{{rightCard.link}}"
                    scores-array="rightCard.votes"
                    button-color="{{rightCard.color}}"
                    disabled-flag="alreadyVoted"
                    vote-function="vote(rightCard.votes)">
            </voting-card>
        </div>
    </div>
</div>

<share-modal></share-modal>