<div class="ui special cards">
    <div class="ui centered card">
        <div class="blurring dimmable image">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <p>{{description}}</p>
                        <a ng-href="{{link}}" target="_blank">learn more</a>
                    </div>
                </div>
            </div>
            <img ng-src="{{imagePath}}">
        </div>
        <div class="content">
            <a class="header">{{name}}</a>
            <div class="meta">
                <span class="vote-count">{{scoresArray | arrayCount}} votes</span>
            </div>
        </div>
        <div class="extra content">
            <button class="ui inverted button form-control" ng-class="buttonColor" ng-disabled="disabledFlag" ng-click="voteFunction()">Vote!</button>
        </div>
    </div>
</div>
<script>
    $('.special.cards .image').dimmer({
        on: 'hover'
    });
</script>