<link rel='stylesheet' href='src/css/forum.css'>
<div class="layer2" ng-controller="ForumController as forumCtrl">
    <div class="masthead ui sticky" style="height: 35vh !important;" role="main" tabindex="-1">
        <div ng-show="!selectedPost" class="masthead-container">
            <h1>Chop-Chop Forums</h1>
            <div class="extra content">
                <button class="big ui inverted button" ng-click="launchNewPostModal(null)">Create a new Post</button>
            </div>
        </div>
        <div ng-show="selectedPost" id="big-post-view" class="container-fluid">
            <div class="row">
                <div id="bigPost" class=" col-lg-4 col-md-6 col-sm-8" style="overflow: hidden">
                    <forum-post ng-click="postClick(selectedPost);"
                                post="selectedPost"
                                headerlimit="-1"
                                bodylimit="-1"
                                burn="burnButtonClick(selectedPost)"
                                grow="growButtonClick(selectedPost)"
                                reply="launchNewPostModal(selectedPost)">
                    </forum-post>
                </div>
                <div id="comments" ng-hide="selectedPost.replies.length === 0" class="col-lg-8 col-md-6 col-sm-4" style="overflow: hidden">
                    <div class="forum-outer-section">
                        <div class="forum-inner-section">
                            <forum-post ng-repeat="comment in selectedPost.replies" ng-click="postClick(comment)"
                                        post="comment"
                                        headerlimit="30"
                                        bodylimit="225"
                                        burn="burnButtonClick(comment)"
                                        grow="growButtonClick(comment)"
                                        reply="launchNewPostModal(comment)">
                            </forum-post>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Loop over categories and generate content-->
    <div class="post-section" ng-repeat="category in headers">
        <h2 class="category-heading">{{category}}</h2>
        <div class="forum-outer-section" ng-hide="posts[category].length === 0">
            <div class="forum-inner-section">
               <forum-post ng-repeat="post in posts[category]"  ng-click="postClick(post);" ng-hide="selectedPost == post" forum-resize
                           post="post"
                           headerlimit="30"
                           bodylimit="225"
                           burn="burnButtonClick(post)"
                           grow="growButtonClick(post)"
                           reply="launchNewPostModal(post)">
                </forum-post>
            </div>
        </div>
    </div>
    <div class="post-section" ng-repeat="category in headers" >
        <h2 class="category-heading">{{category}}</h2>
        <div class="forum-outer-section" ng-hide="posts[category].length === 0">
            <div class="forum-inner-section">
                <forum-post ng-repeat="post in posts[category]"  ng-click="postClick(post);" ng-hide="selectedPost == post" forum-resize
                            post="post"
                            headerlimit="30"
                            bodylimit="225"
                            burn="burnButtonClick(post)"
                            grow="growButtonClick(post)"
                            reply="launchNewPostModal(post)">
                </forum-post>
            </div>
        </div>
    </div>
    <forum-modal></forum-modal>
    <script>
        $('#forum').height(Math.max($('#forum .layer2').height(), $('#forum').height()));
    </script>
</div>