<div class="ui modal" id="forumModal">
    <i class="remove icon pull-right ui cancel" title="Cancel"></i>
    <div class="header" ng-if="modalPost.parentPost">
        Reply to Post: {{modalPost.title}}
    </div>
    <div class="header" ng-if="!modalPost.parentPost">
        Create a New Post
    </div>
    <div class="ui container">
        <div class="ui centered grid">
            <div class="computer only eight wide column">
                <div class="reply-parent-post" ng-if="modalPost.parentPost">
                    <h3 class="ui header">Parent Post</h3>
                    <forum-post post="modalPost.parentPost"
                                headerlimit="30"
                                bodylimit="225"
                                burn="burnButtonClick(modalPost)"
                                grow="growButtonClick(modalPost)"
                                reply="">
                    </forum-post>
                </div>
                <div class="new-post-post" ng-if="!modalPost.parentPost">
                    <h3 class="ui header">Post Preview</h3>
                    <forum-post post="modalPost.newPost"
                                headerlimit="30"
                                bodylimit="225"
                                burn=""
                                grow=""
                                reply="">
                    </forum-post>
                </div>
            </div>
            <div class="twelve wide tablet eight wide computer column">
                <div class="ui form">

                    <div class="parent-fields" ng-if="modalPost.parentPost">
                        <h3 class="ui header">Fill in Reply Details</h3>
                        <div class="ui field">
                            <div class="ui sub header">Post Title</div>
                            <div class="ui fluid input">
                                <input name="title" ng-model="modalPost.parentPost.title" type="text"
                                       disabled>
                            </div>
                        </div>
                        <div class="ui field">
                            <div class="ui sub header">Category</div>
                            <select name="category" class="ui fluid dropdown" disabled
                                ng-model="modalPost.parentPost.category">
                               <option value="">Select a Category</option>
                                <option ng-repeat="category in headers" value="{{category}}">{{category}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="parent-fields" ng-if="!modalPost.parentPost">
                        <h3 class="ui header">Fill in Post Details</h3>
                        <div class="ui field">
                            <div class="ui sub header">Post Title</div>
                            <div class="ui fluid input">
                                <input name="title" ng-model="modalPost.newPost.title" type="text"
                                       placeholder="Post Title" autofocus tabindex=1>
                            </div>
                        </div>
                        <div class="ui field">
                            <div class="ui sub header">Category</div>
                            <select name="category" class="ui fluid dropdown" ng-model="modalPost.newPost.category"
                                    autofocus tabindex=2>
                                <option value="">Select a Category</option>
                                <option ng-repeat="category in headers" value="{{category}}">{{category}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="ui field">
                        <div class="ui sub header">Body</div>
                        <textarea name="body" ng-model="modalPost.newPost.body" autofocus tabindex=3></textarea>
                    </div>

                    <div class="ui error message"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui  inverted cancel red button">Cancel</div>
        <div class="ui inverted approve green button">Post</div>
    </div>
</div>
