<!--takes in a post object-->
<div class="post" >
    <h3 class="post-title">{{post.title |shortenString:headerlimit}}</h3>
    <p class="post-body">{{post.body | shortenString:bodylimit}}</p>
    <div class="action-row container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <button type="button" class="btn " title="water"
                        ng-class="{'btn-success' : post.watered, 'btn-default': !post.watered }" ng-click="grow()" stop-event>
                    <span class="glyphicon glyphicon-tree-deciduous"></span>&nbsp;{{post.grows}}
                </button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn" title="burn"
                        ng-class="{'btn-danger' : post.burned, 'btn-default': !post.burned }" ng-click="burn()" stop-event>
                    <span class="glyphicon glyphicon-fire"></span>&nbsp;{{post.burns}}
                </button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn btn-default post-reply" ng-click="reply()"  stop-event title="comment">
                    <span class="glyphicon glyphicon-comment"></span> &nbsp; {{post | commentCount}}
                </button>
            </div>
        </div>
    </div>
</div>