.matchup-controls > h2 {
    display: inline-block;
}

.matchup-controls > img {
    display: inline-block;
}

.matchup-change-controls > button {
    margin: 10px !important;
}

.end-date > h2 {
    display: inline-block;
}

.end-date > input {
    display: inline-block;
    margin-left: 10px;
}

.admin-backdrop  {
    height: 100%;
}

.analytics-container {
    padding: .7em 0 1.3em 0;
}

#admin .ui.statistic {
    text-align: center;
}

.admin-backdrop.backdrop {
    padding: 2em 5em;
}

#adminModal #left-admin-part, #adminModal .divider, #adminModal #right-admin-part {
    display: inline-block;
    /*height: 600px; !* temporary height*!*/
    position:absolute;
    height: inherit;
}

#left-admin-part {
    /*background-color: red;*/
    /*width: 47%;*/
    position: absolute;
    left:0;
}

#right-admin-part {
    position: absolute;
    /*width: 47%;*/
    right:0;

    /*background-color: green;*/
}

#adminModal .divider{
    left: 47%;
    width: 6%;
    /*margin: 0 20rem;*/
}

.divided-container{
    height: 50vh;
}

#adminModal .card {
    margin-top: 2em;
}

#adminModal .form {
    margin-top: 2rem;
}

.resize-icon-divider{
    text-align: center;
    margin-top: 240px;
}

.resize-icon-divider h3 i {
    text-align: center;
    margin:0;
}


.admin-container .ui.fluid.button {
    margin: 0 0 1em 0;
}


/*.voting-card .ui.card, .segment.voting-card .ui.card>.card{*/
    /*!*width: 35rem;*!*/
    /*height: inherit;*/
    /*min-width: 18vw;*/
    /*min-height: 35vh;*/
/*}*/

/*.voting-card {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*min-width: 40vw;*/
    /*min-height: 40vh;*/
    /*padding: 1rem 2rem;*/
/*}*/

/*.ui.cube.shape, .ui.cube .side {*/
    /*width: 70rem;*/
    /*min-width: 42vw;*/
    /*min-height: 42vh;*/
/*}*/
/*.content-temp {*/
    /*background-color: grey;*/
    /*height: 300px;*/
    /*width: 400px;*/
    /*overflow: hidden;*/
/*}*/

.line-chart-holder {
    position: relative;
    max-width: 500px;
}

.bar-chart-holder {
    position: relative;
    max-width: 500px;
}

#voting-line-chart {
    height: 100%;
    width: 100%;
}

