/* entire container, keeps perspective */
.masthead {
    background-color: #960404;
    background-image: linear-gradient(#800014 0px, rgb(150, 14, 0) 100%);
    background-repeat: repeat-x;
    box-sizing: border-box;
    display: block;
    height: 35vh !important;
    /*padding: 60px 0;*/
    text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px;
    overflow: auto;
}

.masthead-container {
    color: white;
    padding: 2em;
}

.masthead .container-fluid , .masthead .row {
    /*height: 40vh;*/
}

#forum {
    background-color: #373737;
}

#big-post-view{
    vertical-align: middle;
    height: 100%;
}

#big-post-view .row, #bigPost{
    height: 100%;
}

#bigPost .post{
    height: 92%;
    width: 100%;
    background: #f5f5f5;
}
#bigPost .post-title{
    height: 15%;
}
#bigPost .post-body{
    height: 50%;
}
#comments, #comments .forum-outer-section, #comments .forum-inner-section {
    height: 100%;
    vertical-align: middle;
}

#comments.forum-outer-section{
    width:600px;
    display: inline;
}

#comments .post{
    /*height: 80%;*/
    /*margin-top: 5%;*/
}

.category-heading{
    margin-left: 15px;
    color: #FFFFFF;
}

#comments .post-body{
    height: 55%;
}

.post {
    padding: 10px;
    margin: 0.5em;
    width: 25em;
    background-color: #a3a3a3;
    border-radius: 3%;
    /*height: 17em;*/
    height: 100%;
}

.post, .post * {
    display: inline-block;
    white-space: normal;
}

#comments .forum-outer-section {
    height: 85%;
    //padding: 2%;
    background-color: #6e0015;
    padding: .1em .3em 1em .3em;
    border-radius: 3%;
    margin-top: 1em;
}

#comments .forum-outer-section {

    /*height: auto;*/
    /*background-color: inherit;*/
}

.action-row, .row{
    width: 100%;
}

.post-title{
    display: block;
    font-weight: bolder;
    width: 100%;
    height: 52px;
}

.post-body {
    height: 96px;
    display: block;
}

.action-row button{
    width:auto;
}

.forum-topic-container {
    color: #FFFFFF;
    padding: .3em;
    background-color: #373737;
}

.forum-topic-container h2 {
    margin: 0;
}

.forum-outer-section {
    overflow-x: auto;
    overflow-y: hidden;
    /*height: 17em;*/
    background-color: #2a2a2a;

}

.forum-inner-section {
    display: inline-block;
    /*vertical-align: middle;*/
    white-space: nowrap;
    /*width: auto;*/
}

#forumModal {
    bottom: auto;
}

#forumModal .container{
    padding: 1.5em 1.5em .5em 1.5em;
}

.modal .remove.icon {
    font-size:2em;
    margin: .5em;
}

.modal .remove.icon:hover {
    font-size:2.5em;
    margin: .3em;
}

.masthead .extra.content{
    margin-top: 10vh;
}
