.modal {
    bottom: auto;
}

*{
    font-family: Georgia,"Times New Roman",Times,serif;
}

.panel {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    border:0;
}

.panel #forum {
    /*margin-bottom: 400px;*/
}

.layer1 {
    z-index: 2;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
}

.layer2 {
    z-index: 101;
    position: absolute;
    width: 100%;
}

.screen {
    background-color: #464646;
    opacity: 0.7;
    height: 100%;
}

#voting-graphs .voting-graphs{
    background-color: #FFFFFF;
    z-index: 101;
    position: absolute;
    width: 100%;
}

.backdrop {
    min-height: 100vh;
    background-color: #54585A;
    padding: 5em;
}