.modal {
    bottom: auto;
}

#loginModal .ui.sub.header{
    color:white;
}

#loginModal .container{
    padding: 1.5em 1.5em .5em 1.5em;
    /*max-width: 450px;*/
}

.modal .remove.icon {
    font-size:2em;
    margin: .5em;
}

.modal .remove.icon:hover {
    font-size:2.5em;
    margin: .3em;
}

.masthead .extra.content{
    margin-top: 10vh;
}


.log-in-fields{
    margin-bottom: 1em;
}