
#voting{
    /*background-color: #54585A;*/
}

#voting-cards{
    padding: 7em 5em 0 5em;
}

#voting .ui.card, #voting .ui.cards>.card{
    width: 27vw;
}

#back-voting-graphs{
    top:0;
    height: 100vh;
    width: 100vw;
}

/*voting bar -- might come back*/
/*.left-bar {*/
    /*background-color: #0000ff;*/
    /*position: absolute;*/
    /*width: 100px;*/
    /*height: 100%;*/
    /*right: 0;*/
    /*text-align: right;*/
    /*padding-right: 10px;*/
/*}*/

/*.right-bar {*/
    /*background-color: red;*/
    /*position: absolute;*/
    /*width: 100px;*/
    /*height: 100%;*/
    /*left: 0;*/
    /*text-align: left;*/
    /*font-size: 20px;*/
    /*padding-left: 10px;*/
/*}*/

.line-chart-background-container {
    position: absolute;
    height: 100vh;
    width: 100%;
}

#voting-line-chart {
    position: relative;
}